* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Poppins-R;
}

body.lock {
  overflow: hidden;
}

.image-wrapper img,
.image-wrapper picture {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 8.571428571428571%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.button {
  display: inline-block;
  padding: 15px 40px;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button--play {
  width: auto;
  height: auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0;
}

.play-icon {
  position: absolute;
  transform: translate(-30%,-42%);
}

.play-oval,
.play-oval::after,
.play-oval::before {
  display: block;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  content: "";
}

.play-oval {
  width: 120px;
  height: 120px;
}

.play-oval::before {
  width: 100px;
  height: 100px;
}

.play-oval::after {
  width: 80px;
  height: 80px;
}

.play-oval::before {
  animation: pulse-animation 4s infinite;
}

.play-oval::after {
  animation: pulse-animation 3.8s infinite;
}

.play-video-link {
  font-family: Montserrat-R;
  font-weight: 100;
  font-size: 19px;
  line-height: 30px;
  padding: 0;
  color: #ff4f4f;
}

.play-video-link svg {
  display: inline-block;
  vertical-align: bottom;
  height: 30px;
  width: 30px;
  padding: 1% 0% 0% 5%;
  margin-left: 14px;
  border: 1px solid #ff4f4f;
  border-radius: 50%;
}

.button--burger-menu {
  display: block;
  width: 30px;
  height: 20px;
  padding: 0;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.button--burger-menu span,
.button--burger-menu::after,
.button--burger-menu::before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: top .2s ease .2s,-webkit-transform .2s ease;
  transition: top .2s ease .2s,-webkit-transform .2s ease;
  -o-transition: top .2s ease .2s,transform .2s ease;
  transition: top .2s ease .2s,transform .2s ease;
  transition: top .2s ease .2s,transform .2s ease,-webkit-transform .2s ease;
}

.button--burger-menu::after,
.button--burger-menu::before {
  content: "";
  display: block;
}

.button--burger-menu span {
  top: 10px;
}

.button--burger-menu::before {
  top: 0;
}

.button--burger-menu::after {
  top: 19px;
}

.button--burger-menu.active span,
.button--burger-menu.active::after,
.button--burger-menu.active::before {
  -webkit-transition: top .2s ease,-webkit-transform .2s ease .2s;
  transition: top .2s ease,-webkit-transform .2s ease .2s;
  -o-transition: top .2s ease,transform .2s ease .2s;
  transition: top .2s ease,transform .2s ease .2s;
  transition: top .2s ease,transform .2s ease .2s,-webkit-transform .2s ease .2s;
}

.button--burger-menu.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.button--burger-menu.active::before {
  top: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button--burger-menu.active::after {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.header.scrolled {
  background-color: #ff4f4f;
}

.brand-logo {
  display: inline-block;
  position: relative;
  font-size: 24px;
  color: #2f281e;
  z-index: 3;
}

.brand-logo-dot {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40%;
  right: 10%;
  background-color: #ff4f4f;
  opacity: 0;
  -webkit-transition: right .2s ease-out,opacity .2s ease-out;
  -o-transition: right .2s ease-out,opacity .2s ease-out;
  transition: right .2s ease-out,opacity .2s ease-out;
}

.brand-logo:hover .brand-logo-dot {
  right: -20%;
  opacity: 1;
}

.register__button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 11px 23px;
  margin: 0 0 15px 0;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #342d20;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #544837;
}

.hero {
  padding-top: 165px;
  margin-bottom: 130px;
}

.hero__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__title {
  color: #3b3322;
  font-size: 44px;
  line-height: 54px;
  text-align: left;
  margin-bottom: 20px;
}

.hero__text {
  color: #544837;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}

.hero__media {
  position: relative;
}

.hero__img {
  width: 100%;
  height: 100%;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.feature {
  margin: 80px 0 70px 0;
}

.feature__icon {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feature__icon--outline {
  background: 0;
  border: 2px solid #ff4f4f;
}

.feature__icon--fill {
  background: #ff4f4f;
  border: 2px solid #ff4f4f;
}

.feature__title {
  font-size: 22px;
  line-height: 30px;
  color: #262626;
  margin-bottom: 20px;
}

.feature__text {
  font-size: 16px;
  line-height: 24px;
  color: #5c5040;
  margin-bottom: 20px;
}

@keyframes pulse-animation {
	0% {
		transform: scale(1) translate(-50%,-50%);
	}
	50% {
		transform: scale(1.5) translate(-33%,-33%);
	}
  100% {
    transform: scale(1) translate(-50%,-50%);
  }
}